github:
  token: change-me

mcp:
  bearer_token: change-me
  deploy_orchestrator_api_key: change-me

cloudflare:
  api_token: change-me
  account_id: change-me
  zone_id: change-me
  tunnel_token: change-me

social:
  access_token: change-me
