github:
  token: change-me

mcp:
  bearer_token: change-me
  deploy_orchestrator_api_key: change-me

cloudflare:
  api_token: change-me
  account_id: change-me
  zone_id: change-me

social:
  access_token: change-me

vps:
  kubeconfig: |
    # paste base64-decoded k3s kubeconfig here
    # obtained from: sudo cat /etc/rancher/k3s/k3s.yaml on the VPS
